{
    "extends": "airbnb",
    "plugins": [ "react" ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    },
    "globals": {
        "$": true,
        "React": true,
        "ReactDOM": true,
    },
    "rules": {
        "indent": [1, 4],
        "no-console": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "react/react-in-jsx-scope": 0,
        "react/jsx-no-bind": 0,
    },
    "ecmaFeatures": {
      "jsx": true,
    },
}
