{
    "swagger": "2.0",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "host": "data.beehivegiving.org",
    "info": {
        "version": "",
        "title": "Beehive Data",
        "description": ""
    },
    "paths": {
        "/grants/{year}": {
            "parameters": [
                {
                    "name": "year",
                    "in": "path",
                    "description": "e.g. 2015",
                    "required": true,
                    "type": "string",
                    "default": "<<year>>"
                }
            ],
            "get": {
                "tags": [
                    "Grants"
                ],
                "summary": "By year",
                "description": "Get a list of grants for a specific *year*",
                "operationId": "GET_grants-year",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "publisher": {
                                        "type": "string",
                                        "description": "The pubisher of the source funding data used"
                                    },
                                    "license": {
                                        "type": "string",
                                        "description": "The license for the source funding data used"
                                    },
                                    "grant_identifier": {
                                        "type": "string",
                                        "description": "The 360 Giving compliant identifier for the source record"
                                    },
                                    "funder_identifier": {
                                        "type": "string",
                                        "description": "The 360 Giving compliant identifier for the funder"
                                    },
                                    "funder": {
                                        "type": "string",
                                        "description": "The name of the funder the record relates to"
                                    },
                                    "fund": {
                                        "type": "string",
                                        "description": "The name of the fund the record relates to"
                                    },
                                    "award_year": {
                                        "type": "integer",
                                        "description": "The year funding was awarded"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The title of the funding awarded"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "A description of the funding awarded"
                                    },
                                    "open_call": {
                                        "type": "boolean",
                                        "description": "Was the funding the result of an open call for applications?"
                                    },
                                    "approval_date": {
                                        "type": "string",
                                        "description": "The date funding was approved",
                                        "format": "date"
                                    },
                                    "planned_start_date": {
                                        "type": "string",
                                        "description": "The date the funded work was planned to start",
                                        "format": "date"
                                    },
                                    "planned_end_date": {
                                        "type": "string",
                                        "description": "The date the funded work was planned to end",
                                        "format": "date"
                                    },
                                    "currency": {
                                        "type": "string",
                                        "description": "ISO 4217 Currency Code",
                                        "enum": [
                                            "AFN",
                                            "EUR",
                                            "ALL",
                                            "DZD",
                                            "USD",
                                            "AOA",
                                            "XCD",
                                            "ARS",
                                            "AMD",
                                            "AWG",
                                            "AUD",
                                            "AZN",
                                            "BSD",
                                            "BHD",
                                            "BDT",
                                            "BBD",
                                            "BYR",
                                            "BZD",
                                            "XOF",
                                            "BMD",
                                            "BTN",
                                            "BOB",
                                            "BAM",
                                            "BWP",
                                            "NOK",
                                            "BRL",
                                            "BND",
                                            "BGN",
                                            "BIF",
                                            "KHR",
                                            "XAF",
                                            "CAD",
                                            "KYD",
                                            "CLP",
                                            "CNY",
                                            "COP",
                                            "KMF",
                                            "CDF",
                                            "NZD",
                                            "CRC",
                                            "HRK",
                                            "CUP",
                                            "ANG",
                                            "CZK",
                                            "DKK",
                                            "DJF",
                                            "DOP",
                                            "EGP",
                                            "SVC",
                                            "ERN",
                                            "ETB",
                                            "FKP",
                                            "FJD",
                                            "XPF",
                                            "GMD",
                                            "GEL",
                                            "GHS",
                                            "GIP",
                                            "GTQ",
                                            "GBP",
                                            "GNF",
                                            "GYD",
                                            "HTG",
                                            "HNL",
                                            "HKD",
                                            "HUF",
                                            "ISK",
                                            "INR",
                                            "IDR",
                                            "IRR",
                                            "IQD",
                                            "ILS",
                                            "JMD",
                                            "JPY",
                                            "JOD",
                                            "KZT",
                                            "KES",
                                            "KPW",
                                            "KRW",
                                            "KWD",
                                            "KGS",
                                            "LAK",
                                            "LBP",
                                            "LSL",
                                            "LRD",
                                            "LYD",
                                            "CHF",
                                            "MOP",
                                            "MKD",
                                            "MGA",
                                            "MWK",
                                            "MYR",
                                            "MVR",
                                            "MRO",
                                            "MUR",
                                            "MXN",
                                            "MDL",
                                            "MNT",
                                            "MAD",
                                            "MZN",
                                            "MMK",
                                            "NAD",
                                            "NPR",
                                            "NIO",
                                            "NGN",
                                            "OMR",
                                            "PKR",
                                            "PAB",
                                            "PGK",
                                            "PYG",
                                            "PEN",
                                            "PHP",
                                            "PLN",
                                            "QAR",
                                            "RON",
                                            "RUB",
                                            "RWF",
                                            "SHP",
                                            "WST",
                                            "STD",
                                            "SAR",
                                            "RSD",
                                            "SCR",
                                            "SLL",
                                            "SGD",
                                            "SBD",
                                            "SOS",
                                            "ZAR",
                                            "SSP",
                                            "LKR",
                                            "SDG",
                                            "SRD",
                                            "SZL",
                                            "SEK",
                                            "SYP",
                                            "TWD",
                                            "TJS",
                                            "TZS",
                                            "THB",
                                            "TOP",
                                            "TTD",
                                            "TND",
                                            "TRY",
                                            "TMT",
                                            "UGX",
                                            "UAH",
                                            "AED",
                                            "UYN",
                                            "UYU",
                                            "UZS",
                                            "VUV",
                                            "VEF",
                                            "VND",
                                            "YER",
                                            "ZMW",
                                            "ZWL"
                                        ]
                                    },
                                    "amount_awarded": {
                                        "type": "number",
                                        "description": "The amount of funding awarded",
                                        "minimum": 0
                                    },
                                    "amount_applied_for": {
                                        "type": "number",
                                        "description": "The amount of funding applied for",
                                        "minimum": 0
                                    },
                                    "amount_disbursed": {
                                        "type": "number",
                                        "description": "The amount of funding transferred",
                                        "minimum": 0
                                    },
                                    "type_of_funding": {
                                        "type": "string",
                                        "description": "The type of funding awarded",
                                        "enum": [
                                            "Capital funding",
                                            "Revenue funding - project costs",
                                            "Revenue funding - running costs",
                                            "Revenue funding - unrestricted (both project and running costs)",
                                            "Other"
                                        ]
                                    },
                                    "recipient": {
                                        "type": "object",
                                        "description": "The recipient of the funding",
                                        "required": [
                                            "organisation_identifier",
                                            "country",
                                            "organisation_type",
                                            "name",
                                            "postal_code",
                                            "operating_for",
                                            "income",
                                            "spending",
                                            "employees",
                                            "volunteers",
                                            "multi_national"
                                        ],
                                        "properties": {
                                            "organisation_identifier": {
                                                "type": "string",
                                                "description": "The 360 Giving compliant identifier for the organisation funded"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "ISO 3166­2 Country Code",
                                                "enum": [
                                                    "AF",
                                                    "AX",
                                                    "AL",
                                                    "DZ",
                                                    "AS",
                                                    "AD",
                                                    "AO",
                                                    "AI",
                                                    "AQ",
                                                    "AG",
                                                    "AR",
                                                    "AM",
                                                    "AW",
                                                    "AU",
                                                    "AT",
                                                    "AZ",
                                                    "BS",
                                                    "BH",
                                                    "BD",
                                                    "BB",
                                                    "BY",
                                                    "BE",
                                                    "BZ",
                                                    "BJ",
                                                    "BM",
                                                    "BT",
                                                    "BO",
                                                    "BQ",
                                                    "BA",
                                                    "BW",
                                                    "BV",
                                                    "BR",
                                                    "IO",
                                                    "BN",
                                                    "BG",
                                                    "BF",
                                                    "BI",
                                                    "KH",
                                                    "CM",
                                                    "CA",
                                                    "KY",
                                                    "CF",
                                                    "TD",
                                                    "CL",
                                                    "CN",
                                                    "CX",
                                                    "CC",
                                                    "CO",
                                                    "KM",
                                                    "CG",
                                                    "CD",
                                                    "CK",
                                                    "CR",
                                                    "CI",
                                                    "HR",
                                                    "CU",
                                                    "CW",
                                                    "CY",
                                                    "CZ",
                                                    "DK",
                                                    "DJ",
                                                    "DM",
                                                    "DO",
                                                    "EC",
                                                    "EG",
                                                    "SV",
                                                    "GQ",
                                                    "ER",
                                                    "EE",
                                                    "ET",
                                                    "FK",
                                                    "FO",
                                                    "FJ",
                                                    "FI",
                                                    "FR",
                                                    "GF",
                                                    "PF",
                                                    "TF",
                                                    "GA",
                                                    "GM",
                                                    "GE",
                                                    "DE",
                                                    "GH",
                                                    "GI",
                                                    "GR",
                                                    "GL",
                                                    "GD",
                                                    "GP",
                                                    "GU",
                                                    "GT",
                                                    "GG",
                                                    "GN",
                                                    "GW",
                                                    "GY",
                                                    "HT",
                                                    "HM",
                                                    "VA",
                                                    "HN",
                                                    "HK",
                                                    "HU",
                                                    "IS",
                                                    "IN",
                                                    "ID",
                                                    "IR",
                                                    "IQ",
                                                    "IE",
                                                    "IM",
                                                    "IL",
                                                    "IT",
                                                    "JM",
                                                    "JP",
                                                    "JE",
                                                    "JO",
                                                    "KZ",
                                                    "KE",
                                                    "KI",
                                                    "KP",
                                                    "KR",
                                                    "KW",
                                                    "KG",
                                                    "LA",
                                                    "LV",
                                                    "LB",
                                                    "LS",
                                                    "LR",
                                                    "LY",
                                                    "LI",
                                                    "LT",
                                                    "LU",
                                                    "MO",
                                                    "MK",
                                                    "MG",
                                                    "MW",
                                                    "MY",
                                                    "MV",
                                                    "ML",
                                                    "MT",
                                                    "MH",
                                                    "MQ",
                                                    "MR",
                                                    "MU",
                                                    "YT",
                                                    "MX",
                                                    "FM",
                                                    "MD",
                                                    "MC",
                                                    "MN",
                                                    "ME",
                                                    "MS",
                                                    "MA",
                                                    "MZ",
                                                    "MM",
                                                    "NA",
                                                    "NR",
                                                    "NP",
                                                    "NL",
                                                    "NC",
                                                    "NZ",
                                                    "NI",
                                                    "NE",
                                                    "NG",
                                                    "NU",
                                                    "NF",
                                                    "MP",
                                                    "NO",
                                                    "OM",
                                                    "PK",
                                                    "PW",
                                                    "PS",
                                                    "PA",
                                                    "PG",
                                                    "PY",
                                                    "PE",
                                                    "PH",
                                                    "PN",
                                                    "PL",
                                                    "PT",
                                                    "PR",
                                                    "QA",
                                                    "RE",
                                                    "RO",
                                                    "RU",
                                                    "RW",
                                                    "BL",
                                                    "SH",
                                                    "KN",
                                                    "LC",
                                                    "MF",
                                                    "PM",
                                                    "VC",
                                                    "WS",
                                                    "SM",
                                                    "ST",
                                                    "SA",
                                                    "SN",
                                                    "RS",
                                                    "SC",
                                                    "SL",
                                                    "SG",
                                                    "SX",
                                                    "SK",
                                                    "SI",
                                                    "SB",
                                                    "SO",
                                                    "ZA",
                                                    "GS",
                                                    "SS",
                                                    "ES",
                                                    "LK",
                                                    "SD",
                                                    "SR",
                                                    "SJ",
                                                    "SZ",
                                                    "SE",
                                                    "CH",
                                                    "SY",
                                                    "TW",
                                                    "TJ",
                                                    "TZ",
                                                    "TH",
                                                    "TL",
                                                    "TG",
                                                    "TK",
                                                    "TO",
                                                    "TT",
                                                    "TN",
                                                    "TR",
                                                    "TM",
                                                    "TC",
                                                    "TV",
                                                    "UG",
                                                    "UA",
                                                    "AE",
                                                    "GB",
                                                    "US",
                                                    "UM",
                                                    "UY",
                                                    "UZ",
                                                    "VU",
                                                    "VE",
                                                    "VN",
                                                    "VG",
                                                    "VI",
                                                    "WF",
                                                    "EH",
                                                    "YE",
                                                    "ZM",
                                                    "ZW"
                                                ]
                                            },
                                            "organisation_type": {
                                                "type": "string",
                                                "description": "The type of entity awarded funding",
                                                "enum": [
                                                    "An individual",
                                                    "An unregistered organisation OR project",
                                                    "A registered charity",
                                                    "A registered company",
                                                    "A registered charity & company",
                                                    "Another type of organisation"
                                                ]
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "The name of the entity awarded funding"
                                            },
                                            "charity_number": {
                                                "type": "string",
                                                "description": "The charity number for of entity awarded funding"
                                            },
                                            "company_number": {
                                                "type": "string",
                                                "description": "The company number for of entity awarded funding"
                                            },
                                            "organisation_number": {
                                                "type": "string",
                                                "description": "The organisation number of the entity awarded funding"
                                            },
                                            "city": {
                                                "type": "string",
                                                "description": "The city of the entity awarded funding"
                                            },
                                            "region": {
                                                "type": "string",
                                                "description": "The region of the entity awarded funding"
                                            },
                                            "postal_code": {
                                                "type": "string",
                                                "description": "The postal code of the entity awarded funding"
                                            },
                                            "website": {
                                                "type": "string",
                                                "description": "The website of the entity awarded funding",
                                                "format": "uri"
                                            },
                                            "operating_for": {
                                                "type": "string",
                                                "description": "How long the entity awarded funding has been operating for",
                                                "enum": [
                                                    "Yet to start",
                                                    "Less than 12 months",
                                                    "Less than 3 years",
                                                    "4 years or more",
                                                    "Unknown"
                                                ]
                                            },
                                            "income": {
                                                "type": "string",
                                                "description": "The income of the entity awarded funding",
                                                "enum": [
                                                    "Less than £10k",
                                                    "£10k - £100k",
                                                    "£100k - £1m",
                                                    "£1m - £10m",
                                                    "£10m+",
                                                    "Unknown"
                                                ]
                                            },
                                            "spending": {
                                                "type": "string",
                                                "description": "The spending of the entity awarded funding",
                                                "enum": [
                                                    "Less than £10k",
                                                    "£10k - £100k",
                                                    "£100k - £1m",
                                                    "£1m - £10m",
                                                    "£10m+",
                                                    "Unknown"
                                                ]
                                            },
                                            "employees": {
                                                "type": "string",
                                                "description": "The number of employees of the entity awarded funding",
                                                "enum": [
                                                    "None",
                                                    "1 - 5",
                                                    "6 - 25",
                                                    "26 - 50",
                                                    "51 - 100",
                                                    "101 - 250",
                                                    "251 - 500",
                                                    "500+",
                                                    "Unknown"
                                                ]
                                            },
                                            "volunteers": {
                                                "type": "string",
                                                "description": "The number of volunteers of the entity awarded funding",
                                                "enum": [
                                                    "None",
                                                    "1 - 5",
                                                    "6 - 25",
                                                    "26 - 50",
                                                    "51 - 100",
                                                    "101 - 250",
                                                    "251 - 500",
                                                    "500+",
                                                    "Unknown"
                                                ]
                                            },
                                            "multi_national": {
                                                "type": "boolean",
                                                "description": "If the funded entity operates in more than one country"
                                            }
                                        }
                                    },
                                    "beneficiaries": {
                                        "type": "object",
                                        "description": "The beneficiaries affected by the funding",
                                        "required": [
                                            "affect_people",
                                            "affect_other",
                                            "genders",
                                            "ages",
                                            "beneficiaries"
                                        ],
                                        "properties": {
                                            "affect_people": {
                                                "type": "boolean",
                                                "description": "If the funded work affects people"
                                            },
                                            "affect_other": {
                                                "type": "boolean",
                                                "description": "If the funded work affects other groups"
                                            },
                                            "genders": {
                                                "type": "string",
                                                "description": "The genders affected by the funded work",
                                                "enum": [
                                                    "All genders",
                                                    "Female",
                                                    "Male",
                                                    "Transgender",
                                                    "Other"
                                                ]
                                            },
                                            "ages": {
                                                "type": "array",
                                                "description": "The age groups affected by the funding",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "label": {
                                                            "type": "string",
                                                            "description": "The label for the selected age group",
                                                            "enum": [
                                                                "All ages",
                                                                "Infants (0-3 years)",
                                                                "Children (4-11 years)",
                                                                "Adolescents (12-19 years)",
                                                                "Young adults (20-35 years)",
                                                                "Adults (36-50 years)",
                                                                "Mature adults (51-80 years)",
                                                                "Older adults (80+)"
                                                            ]
                                                        },
                                                        "age_from": {
                                                            "type": "integer",
                                                            "description": "The minimum age for the selected age group",
                                                            "enum": [
                                                                0,
                                                                4,
                                                                12,
                                                                20,
                                                                36,
                                                                51,
                                                                80
                                                            ]
                                                        },
                                                        "age_to": {
                                                            "type": "integer",
                                                            "description": "The maximum age for the selected age group",
                                                            "enum": [
                                                                3,
                                                                11,
                                                                19,
                                                                35,
                                                                50,
                                                                80,
                                                                150
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "age_from",
                                                        "age_to"
                                                    ]
                                                }
                                            },
                                            "beneficiaries": {
                                                "type": "array",
                                                "description": "The beneficiary groups affected by the funding",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string",
                                                            "description": "The name for the selected beneficiary group",
                                                            "enum": [
                                                                "public",
                                                                "crime",
                                                                "relationship",
                                                                "disabilities",
                                                                "religious",
                                                                "disasters",
                                                                "education",
                                                                "unemployed",
                                                                "ethnic",
                                                                "water",
                                                                "food",
                                                                "housing",
                                                                "animals",
                                                                "buildings",
                                                                "mental",
                                                                "orientation",
                                                                "environment",
                                                                "physical",
                                                                "organisation",
                                                                "organisations",
                                                                "poverty",
                                                                "refugees",
                                                                "services",
                                                                "care",
                                                                "exploitation"
                                                            ]
                                                        },
                                                        "label": {
                                                            "type": "string",
                                                            "description": "The label for the selected beneficiary group",
                                                            "enum": [
                                                                "The general public",
                                                                "Affected or involved with crime",
                                                                "With family/relationship challenges",
                                                                "With disabilities",
                                                                "With specific religious/spiritual beliefs",
                                                                "Affected by disasters",
                                                                "In education",
                                                                "Who are unemployed",
                                                                "From a specific ethnic background",
                                                                "With water/sanitation access challenges",
                                                                "With food access challenges",
                                                                "With housing/shelter challenges",
                                                                "Animals and wildlife",
                                                                "Buildings and places",
                                                                "With mental diseases or disorders",
                                                                "With a specific sexual orientation",
                                                                "Climate and the environment",
                                                                "With physical diseases or disorders",
                                                                "This organisation",
                                                                "Other organisations",
                                                                "Facing income poverty",
                                                                "Who are refugees and asylum seekers",
                                                                "Involved with the armed or rescue services",
                                                                "In, leaving, or providing care",
                                                                "At risk of sexual exploitation, trafficking, forced labour, or servitude"
                                                            ]
                                                        },
                                                        "group": {
                                                            "type": "string",
                                                            "description": "The group for the selected beneficiary group",
                                                            "enum": [
                                                                "People",
                                                                "Other"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "label",
                                                        "group"
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "locations": {
                                        "type": "object",
                                        "description": "The locations affected by the funding",
                                        "required": [
                                            "geographic_scale",
                                            "areas_affected"
                                        ],
                                        "properties": {
                                            "geographic_scale": {
                                                "type": "string",
                                                "description": "The geographic scale of funding awarded",
                                                "enum": [
                                                    "One or more local areas",
                                                    "One or more regions",
                                                    "An entire country",
                                                    "Across many countries"
                                                ]
                                            },
                                            "areas_affected": {
                                                "type": "array",
                                                "description": "The areas affected by the funding",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "country": {
                                                            "type": "string",
                                                            "description": "ISO 3166­2 Country Code",
                                                            "enum": [
                                                                "AF",
                                                                "AX",
                                                                "AL",
                                                                "DZ",
                                                                "AS",
                                                                "AD",
                                                                "AO",
                                                                "AI",
                                                                "AQ",
                                                                "AG",
                                                                "AR",
                                                                "AM",
                                                                "AW",
                                                                "AU",
                                                                "AT",
                                                                "AZ",
                                                                "BS",
                                                                "BH",
                                                                "BD",
                                                                "BB",
                                                                "BY",
                                                                "BE",
                                                                "BZ",
                                                                "BJ",
                                                                "BM",
                                                                "BT",
                                                                "BO",
                                                                "BQ",
                                                                "BA",
                                                                "BW",
                                                                "BV",
                                                                "BR",
                                                                "IO",
                                                                "BN",
                                                                "BG",
                                                                "BF",
                                                                "BI",
                                                                "KH",
                                                                "CM",
                                                                "CA",
                                                                "KY",
                                                                "CF",
                                                                "TD",
                                                                "CL",
                                                                "CN",
                                                                "CX",
                                                                "CC",
                                                                "CO",
                                                                "KM",
                                                                "CG",
                                                                "CD",
                                                                "CK",
                                                                "CR",
                                                                "CI",
                                                                "HR",
                                                                "CU",
                                                                "CW",
                                                                "CY",
                                                                "CZ",
                                                                "DK",
                                                                "DJ",
                                                                "DM",
                                                                "DO",
                                                                "EC",
                                                                "EG",
                                                                "SV",
                                                                "GQ",
                                                                "ER",
                                                                "EE",
                                                                "ET",
                                                                "FK",
                                                                "FO",
                                                                "FJ",
                                                                "FI",
                                                                "FR",
                                                                "GF",
                                                                "PF",
                                                                "TF",
                                                                "GA",
                                                                "GM",
                                                                "GE",
                                                                "DE",
                                                                "GH",
                                                                "GI",
                                                                "GR",
                                                                "GL",
                                                                "GD",
                                                                "GP",
                                                                "GU",
                                                                "GT",
                                                                "GG",
                                                                "GN",
                                                                "GW",
                                                                "GY",
                                                                "HT",
                                                                "HM",
                                                                "VA",
                                                                "HN",
                                                                "HK",
                                                                "HU",
                                                                "IS",
                                                                "IN",
                                                                "ID",
                                                                "IR",
                                                                "IQ",
                                                                "IE",
                                                                "IM",
                                                                "IL",
                                                                "IT",
                                                                "JM",
                                                                "JP",
                                                                "JE",
                                                                "JO",
                                                                "KZ",
                                                                "KE",
                                                                "KI",
                                                                "KP",
                                                                "KR",
                                                                "KW",
                                                                "KG",
                                                                "LA",
                                                                "LV",
                                                                "LB",
                                                                "LS",
                                                                "LR",
                                                                "LY",
                                                                "LI",
                                                                "LT",
                                                                "LU",
                                                                "MO",
                                                                "MK",
                                                                "MG",
                                                                "MW",
                                                                "MY",
                                                                "MV",
                                                                "ML",
                                                                "MT",
                                                                "MH",
                                                                "MQ",
                                                                "MR",
                                                                "MU",
                                                                "YT",
                                                                "MX",
                                                                "FM",
                                                                "MD",
                                                                "MC",
                                                                "MN",
                                                                "ME",
                                                                "MS",
                                                                "MA",
                                                                "MZ",
                                                                "MM",
                                                                "NA",
                                                                "NR",
                                                                "NP",
                                                                "NL",
                                                                "NC",
                                                                "NZ",
                                                                "NI",
                                                                "NE",
                                                                "NG",
                                                                "NU",
                                                                "NF",
                                                                "MP",
                                                                "NO",
                                                                "OM",
                                                                "PK",
                                                                "PW",
                                                                "PS",
                                                                "PA",
                                                                "PG",
                                                                "PY",
                                                                "PE",
                                                                "PH",
                                                                "PN",
                                                                "PL",
                                                                "PT",
                                                                "PR",
                                                                "QA",
                                                                "RE",
                                                                "RO",
                                                                "RU",
                                                                "RW",
                                                                "BL",
                                                                "SH",
                                                                "KN",
                                                                "LC",
                                                                "MF",
                                                                "PM",
                                                                "VC",
                                                                "WS",
                                                                "SM",
                                                                "ST",
                                                                "SA",
                                                                "SN",
                                                                "RS",
                                                                "SC",
                                                                "SL",
                                                                "SG",
                                                                "SX",
                                                                "SK",
                                                                "SI",
                                                                "SB",
                                                                "SO",
                                                                "ZA",
                                                                "GS",
                                                                "SS",
                                                                "ES",
                                                                "LK",
                                                                "SD",
                                                                "SR",
                                                                "SJ",
                                                                "SZ",
                                                                "SE",
                                                                "CH",
                                                                "SY",
                                                                "TW",
                                                                "TJ",
                                                                "TZ",
                                                                "TH",
                                                                "TL",
                                                                "TG",
                                                                "TK",
                                                                "TO",
                                                                "TT",
                                                                "TN",
                                                                "TR",
                                                                "TM",
                                                                "TC",
                                                                "TV",
                                                                "UG",
                                                                "UA",
                                                                "AE",
                                                                "GB",
                                                                "US",
                                                                "UM",
                                                                "UY",
                                                                "UZ",
                                                                "VU",
                                                                "VE",
                                                                "VN",
                                                                "VG",
                                                                "VI",
                                                                "WF",
                                                                "EH",
                                                                "YE",
                                                                "ZM",
                                                                "ZW"
                                                            ]
                                                        },
                                                        "areas": {
                                                            "type": "array",
                                                            "description": "The areas affected by the funding",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "country",
                                                        "areas"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "publisher",
                                    "license",
                                    "grant_identifier",
                                    "funder_identifier",
                                    "funder",
                                    "fund",
                                    "award_year",
                                    "title",
                                    "description",
                                    "approval_date",
                                    "currency",
                                    "amount_awarded",
                                    "recipient",
                                    "beneficiaries",
                                    "locations"
                                ]
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "publisher": "Esmee Fairbairn Foundation",
                                    "license": "http://esmeefairbairn.org.uk/what-we-fund/open-data/",
                                    "grant_identifier": "360G-esmeefairbairn-14-0519",
                                    "funder_identifier": "GB-CHC-200051",
                                    "funder": "Esmee Fairbairn Foundation",
                                    "fund": "Main Grants",
                                    "award_year": 2015,
                                    "title": "Grant to Age UK Camden",
                                    "description": "Towards providing services to older lesbian, gay, bisexual and transgender people and assisting them to develop peer support, campaigning and advocacy related activities.",
                                    "approval_date": "2015-01-21",
                                    "currency": "GBP",
                                    "amount_awarded": 119589,
                                    "type_of_funding": "Revenue funding - project costs",
                                    "recipient": {
                                        "organisation_identifier": "GB-CHC-293446",
                                        "country": "GB",
                                        "organisation_type": "A registered charity & company",
                                        "name": "Age Concern Camden",
                                        "charity_number": "293446",
                                        "company_number": "01969975",
                                        "city": "London",
                                        "postal_code": "WC1H 9NA",
                                        "website": "http://www.ageukcamden.org.uk",
                                        "operating_for": "4 years or more",
                                        "income": "£1m - £10m",
                                        "spending": "£1m - £10m",
                                        "employees": "26 - 50",
                                        "volunteers": "251 - 500",
                                        "multi_national": false
                                    },
                                    "beneficiaries": {
                                        "affect_people": true,
                                        "affect_other": false,
                                        "genders": "All genders",
                                        "ages": [
                                            {
                                                "label": "Mature adults (51-80 years)",
                                                "age_from": 51,
                                                "age_to": 80
                                            },
                                            {
                                                "label": "Older adults (80+)",
                                                "age_from": 80,
                                                "age_to": 150
                                            }
                                        ],
                                        "beneficiaries": [
                                            {
                                                "name": "orientation",
                                                "label": "With a specific sexual orientation",
                                                "group": "People"
                                            }
                                        ]
                                    },
                                    "locations": {
                                        "geographic_scale": "One or more regions",
                                        "areas_affected": [
                                            {
                                                "country": "GB",
                                                "areas": [
                                                    "London"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/grants/{year}/{funder}": {
            "parameters": [
                {
                    "name": "year",
                    "in": "path",
                    "description": "e.g. 2015",
                    "required": true,
                    "type": "string",
                    "default": "<<year>>"
                },
                {
                    "name": "funder",
                    "in": "path",
                    "description": "e.g. esmee-fairbairn-foundation",
                    "required": true,
                    "type": "string",
                    "default": "<<funder>>"
                }
            ],
            "get": {
                "tags": [
                    "Grants"
                ],
                "summary": "By funder",
                "description": "Get a list of grants for a specific *funder*",
                "operationId": "GET_grants-year-funder",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "publisher": {
                                        "type": "string",
                                        "description": "The pubisher of the source funding data used"
                                    },
                                    "license": {
                                        "type": "string",
                                        "description": "The license for the source funding data used"
                                    },
                                    "grant_identifier": {
                                        "type": "string",
                                        "description": "The 360 Giving compliant identifier for the source record"
                                    },
                                    "funder_identifier": {
                                        "type": "string",
                                        "description": "The 360 Giving compliant identifier for the funder"
                                    },
                                    "funder": {
                                        "type": "string",
                                        "description": "The name of the funder the record relates to"
                                    },
                                    "fund": {
                                        "type": "string",
                                        "description": "The name of the fund the record relates to"
                                    },
                                    "award_year": {
                                        "type": "integer",
                                        "description": "The year funding was awarded"
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The title of the funding awarded"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "A description of the funding awarded"
                                    },
                                    "open_call": {
                                        "type": "boolean",
                                        "description": "Was the funding the result of an open call for applications?"
                                    },
                                    "approval_date": {
                                        "type": "string",
                                        "description": "The date funding was approved",
                                        "format": "date"
                                    },
                                    "planned_start_date": {
                                        "type": "string",
                                        "description": "The date the funded work was planned to start",
                                        "format": "date"
                                    },
                                    "planned_end_date": {
                                        "type": "string",
                                        "description": "The date the funded work was planned to end",
                                        "format": "date"
                                    },
                                    "currency": {
                                        "type": "string",
                                        "description": "ISO 4217 Currency Code",
                                        "enum": [
                                            "AFN",
                                            "EUR",
                                            "ALL",
                                            "DZD",
                                            "USD",
                                            "AOA",
                                            "XCD",
                                            "ARS",
                                            "AMD",
                                            "AWG",
                                            "AUD",
                                            "AZN",
                                            "BSD",
                                            "BHD",
                                            "BDT",
                                            "BBD",
                                            "BYR",
                                            "BZD",
                                            "XOF",
                                            "BMD",
                                            "BTN",
                                            "BOB",
                                            "BAM",
                                            "BWP",
                                            "NOK",
                                            "BRL",
                                            "BND",
                                            "BGN",
                                            "BIF",
                                            "KHR",
                                            "XAF",
                                            "CAD",
                                            "KYD",
                                            "CLP",
                                            "CNY",
                                            "COP",
                                            "KMF",
                                            "CDF",
                                            "NZD",
                                            "CRC",
                                            "HRK",
                                            "CUP",
                                            "ANG",
                                            "CZK",
                                            "DKK",
                                            "DJF",
                                            "DOP",
                                            "EGP",
                                            "SVC",
                                            "ERN",
                                            "ETB",
                                            "FKP",
                                            "FJD",
                                            "XPF",
                                            "GMD",
                                            "GEL",
                                            "GHS",
                                            "GIP",
                                            "GTQ",
                                            "GBP",
                                            "GNF",
                                            "GYD",
                                            "HTG",
                                            "HNL",
                                            "HKD",
                                            "HUF",
                                            "ISK",
                                            "INR",
                                            "IDR",
                                            "IRR",
                                            "IQD",
                                            "ILS",
                                            "JMD",
                                            "JPY",
                                            "JOD",
                                            "KZT",
                                            "KES",
                                            "KPW",
                                            "KRW",
                                            "KWD",
                                            "KGS",
                                            "LAK",
                                            "LBP",
                                            "LSL",
                                            "LRD",
                                            "LYD",
                                            "CHF",
                                            "MOP",
                                            "MKD",
                                            "MGA",
                                            "MWK",
                                            "MYR",
                                            "MVR",
                                            "MRO",
                                            "MUR",
                                            "MXN",
                                            "MDL",
                                            "MNT",
                                            "MAD",
                                            "MZN",
                                            "MMK",
                                            "NAD",
                                            "NPR",
                                            "NIO",
                                            "NGN",
                                            "OMR",
                                            "PKR",
                                            "PAB",
                                            "PGK",
                                            "PYG",
                                            "PEN",
                                            "PHP",
                                            "PLN",
                                            "QAR",
                                            "RON",
                                            "RUB",
                                            "RWF",
                                            "SHP",
                                            "WST",
                                            "STD",
                                            "SAR",
                                            "RSD",
                                            "SCR",
                                            "SLL",
                                            "SGD",
                                            "SBD",
                                            "SOS",
                                            "ZAR",
                                            "SSP",
                                            "LKR",
                                            "SDG",
                                            "SRD",
                                            "SZL",
                                            "SEK",
                                            "SYP",
                                            "TWD",
                                            "TJS",
                                            "TZS",
                                            "THB",
                                            "TOP",
                                            "TTD",
                                            "TND",
                                            "TRY",
                                            "TMT",
                                            "UGX",
                                            "UAH",
                                            "AED",
                                            "UYN",
                                            "UYU",
                                            "UZS",
                                            "VUV",
                                            "VEF",
                                            "VND",
                                            "YER",
                                            "ZMW",
                                            "ZWL"
                                        ]
                                    },
                                    "amount_awarded": {
                                        "type": "number",
                                        "description": "The amount of funding awarded",
                                        "minimum": 0
                                    },
                                    "amount_applied_for": {
                                        "type": "number",
                                        "description": "The amount of funding applied for",
                                        "minimum": 0
                                    },
                                    "amount_disbursed": {
                                        "type": "number",
                                        "description": "The amount of funding transferred",
                                        "minimum": 0
                                    },
                                    "type_of_funding": {
                                        "type": "string",
                                        "description": "The type of funding awarded",
                                        "enum": [
                                            "Capital funding",
                                            "Revenue funding - project costs",
                                            "Revenue funding - running costs",
                                            "Revenue funding - unrestricted (both project and running costs)",
                                            "Other"
                                        ]
                                    },
                                    "recipient": {
                                        "type": "object",
                                        "description": "The recipient of the funding",
                                        "required": [
                                            "organisation_identifier",
                                            "country",
                                            "organisation_type",
                                            "name",
                                            "postal_code",
                                            "operating_for",
                                            "income",
                                            "spending",
                                            "employees",
                                            "volunteers",
                                            "multi_national"
                                        ],
                                        "properties": {
                                            "organisation_identifier": {
                                                "type": "string",
                                                "description": "The 360 Giving compliant identifier for the organisation funded"
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "ISO 3166­2 Country Code",
                                                "enum": [
                                                    "AF",
                                                    "AX",
                                                    "AL",
                                                    "DZ",
                                                    "AS",
                                                    "AD",
                                                    "AO",
                                                    "AI",
                                                    "AQ",
                                                    "AG",
                                                    "AR",
                                                    "AM",
                                                    "AW",
                                                    "AU",
                                                    "AT",
                                                    "AZ",
                                                    "BS",
                                                    "BH",
                                                    "BD",
                                                    "BB",
                                                    "BY",
                                                    "BE",
                                                    "BZ",
                                                    "BJ",
                                                    "BM",
                                                    "BT",
                                                    "BO",
                                                    "BQ",
                                                    "BA",
                                                    "BW",
                                                    "BV",
                                                    "BR",
                                                    "IO",
                                                    "BN",
                                                    "BG",
                                                    "BF",
                                                    "BI",
                                                    "KH",
                                                    "CM",
                                                    "CA",
                                                    "KY",
                                                    "CF",
                                                    "TD",
                                                    "CL",
                                                    "CN",
                                                    "CX",
                                                    "CC",
                                                    "CO",
                                                    "KM",
                                                    "CG",
                                                    "CD",
                                                    "CK",
                                                    "CR",
                                                    "CI",
                                                    "HR",
                                                    "CU",
                                                    "CW",
                                                    "CY",
                                                    "CZ",
                                                    "DK",
                                                    "DJ",
                                                    "DM",
                                                    "DO",
                                                    "EC",
                                                    "EG",
                                                    "SV",
                                                    "GQ",
                                                    "ER",
                                                    "EE",
                                                    "ET",
                                                    "FK",
                                                    "FO",
                                                    "FJ",
                                                    "FI",
                                                    "FR",
                                                    "GF",
                                                    "PF",
                                                    "TF",
                                                    "GA",
                                                    "GM",
                                                    "GE",
                                                    "DE",
                                                    "GH",
                                                    "GI",
                                                    "GR",
                                                    "GL",
                                                    "GD",
                                                    "GP",
                                                    "GU",
                                                    "GT",
                                                    "GG",
                                                    "GN",
                                                    "GW",
                                                    "GY",
                                                    "HT",
                                                    "HM",
                                                    "VA",
                                                    "HN",
                                                    "HK",
                                                    "HU",
                                                    "IS",
                                                    "IN",
                                                    "ID",
                                                    "IR",
                                                    "IQ",
                                                    "IE",
                                                    "IM",
                                                    "IL",
                                                    "IT",
                                                    "JM",
                                                    "JP",
[...]
