- content_for :public do
  .ui.text.container.basic.segment#header
    %h1.ui.header Beehive Data
    %h2 High quality data about charitable funding
    %p
      = link_to 'Beehive Data', root_path
      is part of a family of tools and technology that helps charitable organisations and their funders make the most of their resources when working together. Its purpose is to improve open data about charitable funding, as well as providing an interface for other tools to access and use the information it enriches.
  -#   %p
  -#     = link_to 'See example', '#', class: 'big teal ui button'
  -#     = link_to 'Request access', '#', class: 'big basic teal ui button'
  -#   %p
  -#     = link_to 'API Docs', '#', class: 'ui teal'
  -#
  -# .ui.text.container.basic.segment
  -#   %p
  -#     %strong Understand impact
  -#   %p
  -#     %strong Understand impact
